.leaflet-popup-content .excerpt {
    background-color: white !important;
    margin: 0 !important;
}

.group-container {
    padding:0 2rem;
}



body.mobile {
    .group-container {
        padding:0;
    }
}

